<div class="container">

<div class="container1">
<div>
                <a style="color:#000; float:right" href="/">Đăng xuất</a>
            </div>
<div class="logo">
    <img class="logo-giohang" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/323197211_1218286522135614_832672658078897844_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_ohc=BY2PRu0VFcwAX_-MBIP&_nc_ht=scontent.fhan14-2.fna&oh=03_AdTUrA38S3GshJEWEGIR0HGAgIhIFwsFohnz9YOWeo1yMw&oe=63E06FEE" alt="">
    <h1>HG 59 SHOP</h1>
</div>
<div class="row">
    <div id="show" class="col-lg-6">
    <form method ="post" action="/shirt/storeKX">
    <div class="container">
        <!-- <p>Điền thông tin của bạn</p>
        <hr>
        <label for="Name"><b class="show">Họ và tên</b></label>
        <input type="text" placeholder="Họ và tên" name="Name" id="Name" required>

        <label for="phone"><b class="show">Số điện thoại (format: 123-456-7890)</b></label>
        <input type="tel" id="number" name="number" placeholder="Số điện thoại" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <label for="psw-repeat"><b class="show">Địa chỉ</b></label>
        <input type="text" placeholder="Địa chỉ" name="address" required>
        <hr> -->
                    
                    <legend>Chọn size đồ:</legend>
                    <div>
                    <input type="radio" id="huey" name="size" value="M - {{shirt.name}}"
                            checked>
                    <label for="huey">M</label>
                    </div>
                    <div>
                    <input type="radio" id="dewey" name="size" value="L - {{shirt.name}}">
                    <label for="dewey">L</label>
                    </div>
                    <div>
                    <input type="radio" id="louie" name="size" value="XL - {{shirt.name}}">
                    <label for="louie">XL</label>
                    </div>
               <label for="tentacles">Số lượng (1-10):</label>
                <input type="number" id="tentacles" name="SL"
                        min="1" max="10">
                <div>
                    <input style="display: none;" type="radio" id="louie" name="money" value="{{shirt.money}}" checked>
                    </div>
                    <span class="validity"></span>
                       
        <button type="submit" class="registerbtn">Thêm vào giỏ</button>
    </div>
    </form>
    </div>
    <div class="col-lg-6">
        <div class="N-I-D">
            <h2>{{shirt.name}}</h2>
            <div class="row">
                <div class="col-lg-6">
                    <img class="imgshirtwoman" src="{{shirt.img}}" alt="">
                </div>
                <div class="col-lg-6 ">
                    {{shirt.des}}
                   <P style="color: black;">Giá: {{shirt.money}} </P> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

